<div class="menu">
    <div class="key">
        <a href="./">
            <p>ESCHIE.INFO</p>
        </a>
    </div>
    <div class="port">
        <div class="circle">
            <div class="avatar">
                <img class="thumbnail-round" src="app/assets/dist/img/gravatar.png" alt="">
            </div>
        </div>
        <div class="me">
            <p class="name">Austin Eschenbach</p>
            <p class="job">Front-End Developer</p>
            <div class="where">
                <svg class='icon'>
                    <use xlink:href='#icon-Icon-Location'/>
                </svg>
                <span>San Francisco, CA</span>
            </div>
        </div>
    </div>
    <div class="nav">
        <div id="btn-work" class="btn btn-work">
            <a class="navlink" href="./work">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Work'/>
                </svg>
                <p>WORK</p>
            </a>
        </div>
        <div id="btn-portfolio" class="btn btn-portfolio">
            <a class="navlink" href="./portfolio">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Portfolio'/>
                </svg>
                <p>PORTFOLIO</p>
            </a>
        </div>
        <div id="btn-projects" class="btn btn-projects">
            <a class="navlink" href="./projects">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Projects'/>
                </svg>
                <p>PROJECTS</p>
            </a>
        </div>
        <div id="btn-contact" class="btn btn-contact">
            <a class="navlink" href="./contact">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Contact'/>
                </svg>
                <p>CONTACT</p>
            </a>
        </div>
    </div>
    <div class="bio">
        <p>Hi, I’m Eschie! I work as a freelance Front-End Developer with a background in analytics, web-marketing, and film/audio production.</p>
    </div>
    <div class="social">
        <div class="btn">
            <a class="soclink" href="mailto:austin.eschenbach@gmail.com">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Mail'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="https://www.behance.net/eschie" target="_blank">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Behance'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="https://github.com/eschie" target="_blank">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Github'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="https://www.linkedin.com/in/austineschenbach" target="_blank">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-LinkedIn'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="https://twitter.com/aeschenbach" target="_blank">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Twitter'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="https://www.facebook.com/austin.eschenbach" target="_blank">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Facebook'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="http://instagram.com/gesticulargeorge" target="_blank">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Instagram'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a class="soclink" href="skype:austin.eschenbach?call">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Skype'/>
                </svg>
            </a>
        </div>
    </div>
</div>