.menu{
    width: $extend-amount;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.70);
    position: fixed;
    top:0;
    left:0;

    -webkit-transition: width $master-animation-time ease-in-out;
    -moz-transition: width $master-animation-time ease-in-out;
    -o-transition: width $master-animation-time ease-in-out;
    transition: width $master-animation-time ease-in-out;
    
    .key{
        display:block;
        width: 100%;
        height: 20px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.30);

        p {
            line-height: 20px;
            text-align: center;
            font-size: 10px;
            display: block;
            letter-spacing: 1px;
        }
    }

    .port{
        position: relative;
        width:100%;
        height:340px;

        -webkit-transition: height $master-animation-time ease-in-out;
        -moz-transition: height $master-animation-time ease-in-out;
        -o-transition: height $master-animation-time ease-in-out;
        transition: height $master-animation-time ease-in-out;

        .me{
            opacity: 1;
            position: absolute;
            top: 70%;
            width: 100%;
            display: block;
            margin:0 auto;

            -webkit-transition: all $master-animation-time ease-in-out $master-animation-time;
            -moz-transition: all $master-animation-time ease-in-out $master-animation-time;
            -o-transition: all $master-animation-time ease-in-out $master-animation-time;
            transition: all $master-animation-time ease-in-out $master-animation-time;
            .where{
                padding-top: 10px;
                text-align: center;
                
                .icon{
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                }
                span{
                    font-size: .75em;
                    line-height: 1em;
                    letter-spacing: 3.5px;
                    text-transform: uppercase;
                }
            }
            p{
                padding: 7px 0;
                text-align: center;
                font-size: .75em;
                line-height: 1em;
                letter-spacing: 3.5px;
                text-transform: uppercase;
                &.job{
                    font-weight: bold;
                    color: #FDBCBC;
                }
            }
        }
    }

    .circle {
        position: absolute;
        top: 35%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 180px;
        width: 180px;
        margin: 0 auto;

        -webkit-transition: width $master-animation-time ease-in-out, height $master-animation-time ease-in-out, top $master-animation-time ease-in-out ;
        -moz-transition: width $master-animation-time ease-in-out, height $master-animation-time ease-in-out, top $master-animation-time ease-in-out ;
        -o-transition: width $master-animation-time ease-in-out, height $master-animation-time ease-in-out, top $master-animation-time ease-in-out ;
        transition: width $master-animation-time ease-in-out, height $master-animation-time ease-in-out, top $master-animation-time ease-in-out ;

        &:before, &:after {
            content: "";
            position: absolute;
        }

        &:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: -o-linear-gradient(-44deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
            background-image: -moz-linear-gradient(-44deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
            background-image: -ms-linear-gradient(-44deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
            background-image: linear-gradient(-134deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
            -moz-box-shadow:    0 0 9px 1px rgba(0,0,0,0.60);
            box-shadow:         0 0 9px 1px rgba(0,0,0,0.60);
            -webkit-border-radius: 100;
            border-radius: 100;
            z-index: 1;
        }
        &:after {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
        }

        .avatar {
            position: relative;
            z-index:2;
            width: inherit;
            height: inherit;

            .thumbnail-round{
                top: 3%;
                left: 3%;
                right: 3%;
                bottom: 3%;
                max-width: 94%;
                position: absolute;
                -webkit-border-radius: 100;
                border-radius: 100;
            }
        }
    }

    .nav{
        height:0;
        opacity:0;
        width: 100%;

        -webkit-transition: all $master-animation-time ease-in-out;
        -moz-transition: all $master-animation-time ease-in-out;
        -o-transition: all $master-animation-time ease-in-out;
        transition: all $master-animation-time ease-in-out;

        .btn{
            width: 100%;
            height:0;
            opacity:0;
            background-color: transparent;

            a.navlink{
                height:0;
                opacity:0;
                .icon,p{
                    height:0;
                    opacity:0;
                }
            }
        }
    }

    .social{
        display: block;
        width: 80%;
        height: 120px;
        margin: 0 auto;

        -webkit-transition: all $master-animation-time ease-in-out $master-animation-time;
        -moz-transition: all $master-animation-time ease-in-out $master-animation-time;
        -o-transition: all $master-animation-time ease-in-out $master-animation-time;
        transition: all $master-animation-time ease-in-out $master-animation-time;

        // -webkit-transition: height $master-animation-time ease-in-out $master-animation-time, margin $master-animation-time ease-in-out $master-animation-time, border-radius 100ms ease-in-out $master-animation-time;
        // -moz-transition: height $master-animation-time ease-in-out $master-animation-time, margin $master-animation-time ease-in-out $master-animation-time, border-radius 100ms ease-in-out $master-animation-time;
        // -o-transition: height $master-animation-time ease-in-out $master-animation-time, margin $master-animation-time ease-in-out $master-animation-time, border-radius 100ms ease-in-out $master-animation-time;
        // transition: height $master-animation-time ease-in-out $master-animation-time, margin $master-animation-time ease-in-out $master-animation-time, border-radius 100ms ease-in-out $master-animation-time;

        .btn{
            position: relative;
            width: 50px;
            height: 50px;
            float:left;
            margin: 5px 7px;
            background-color:rgb(0,0,0);
            background-color:rgba(0,0,0,0.30);
            border-radius:50;




            &:hover{
                background-color:rgb(0,0,0);
                background-color:rgba(0,0,0,0.90);
                .icon{
                    height:44%;
                }
            }

            &:active{
                background-color: white;
            }

            .icon {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 100%;
                height: 40%;
                -webkit-transition: height 100ms ease-out;
                -moz-transition: height 100ms ease-out;
                -o-transition: height 100ms ease-out;
                transition: height 100ms ease-out;
            }
            
            // // TODO - remove 
            // .icon use {
            //     stroke: rgb(256,256,256);
            //     stroke: rgba(256,256,256,0.60);
            //     fill: rgb(256,256,256);
            //     fill: rgba(256,256,256,0.60);

            //   &:hover{

            //   }
            // }

            a.soclink{
                display: block;
                width: 100%;
                height: 100%;
            }

        }
    }

    .bio{
        width: 70%;
        height: 15%;
        margin: 10px auto;
        padding: 20px;
        background-color: rgb(256,256,256);
        background-color: rgba(256,256,256,0.10);
        opacity: 1;

        -webkit-transition: all 300ms ease-in-out $master-animation-time;
        -moz-transition: all 300ms ease-in-out $master-animation-time;
        -o-transition: all 300ms ease-in-out $master-animation-time;
        transition: all 300ms ease-in-out $master-animation-time;

        p{
            opacity:1;
            font-size:.9em;
            line-height: 1.25em;
            letter-spacing: 1px;
        }
    }

    // Contracted Menu
    // Transitions and such
    &.menu-contract{
        width: $contract-amount;
        height: 100%;
        
        // -webkit-transition: width 1000ms ease-in-out;
        // -moz-transition: width 1000ms ease-in-out;
        // -o-transition: width 1000ms ease-in-out;
        // transition: width 1000ms ease-in-out;

        .port{
            position: relative;
            height:80px;
            
            .me{
                opacity:0;
                // display: none;

                -webkit-transition: opacity $master-animation-time ease-in-out;
                -moz-transition: opacity $master-animation-time ease-in-out;
                -o-transition: opacity $master-animation-time ease-in-out;
                transition: opacity $master-animation-time ease-in-out;
            }
            // -webkit-transition: height 1000ms ease-in-out;
            // -moz-transition: height 1000ms ease-in-out;
            // -o-transition: height 1000ms ease-in-out;
            // transition: height 1000ms ease-in-out;
        }

        .circle {
            top: 50%;
            height: 50px;
            width: 50px;

        }

        .nav{
            opacity: 1;
            height:32%;

            .btn{
                opacity: 1;
                position: relative;
                height: 25%;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.10);
                color: rgb(256,256,256);
                color: rgba(256,256,256,0.60);
                -webkit-transition: background-color 300ms ease-out;
                -moz-transition: background-color 300ms ease-out;
                -o-transition: background-color 300ms ease-out;
                transition: background-color 300ms ease-out;

                &.active,&:hover{
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0,0.30);
                    font-weight: bold;
                    color: rgb(256,256,256);
                }

                a.navlink{
                    opacity:1;
                    display: block;
                    width: 100%;
                    height: 100%;

                    .icon {
                        opacity: 1;
                        display: inline-block;
                        position: absolute;
                        top: 35%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        width: 30%;
                        height: 30%;
                    }
                    // TODO - remove 
                    .icon use {
                        opacity:1;
                        stroke: rgb(256,256,256);
                        // stroke: rgba(256,256,256,0.60);
                        fill: rgb(256,256,256);
                        // fill: rgba(256,256,256,0.60);
                    }

                    p{
                        opacity: 1;
                        display: inline-block;
                        position: absolute;
                        top: 65%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 10%;
                        letter-spacing: 3.75px;
                    }
                }
            }
        }

        .social{
            height:auto;
            .btn{
                width: 100%;
                height: 6.6%;
                background-color:transparent;
                margin: 0;

                &:hover{
                    .icon{
                        height:44%;
                    }
                }

                .icon {
                    width: 33%;
                    height: 33%;
                }
            }
        }

        .bio{
            opacity: 0;
            padding: 0;
            margin: 0 auto;
            height:0;
            background-color: transparent;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            p{
                opacity:0;
            }
        }
    }
}