@include breakpoint(mobile) {
    left:0;
    width:auto;
    padding: 15px 30px 20px 20px;

    h2{
        font-size:1.5em;
        padding-left:0;
    }
    ul.portfolio-list{
        margin:0 auto;
        width:auto;

        li.portfolio-content-container{
            float:none;
            margin:20px auto;
        }
    }
}