<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Hi! I'm Austin Eschenbach, a front-end developer based with a background in analytics, web marketing, and film/audio production.">
<title>Austin Eschenbach - Analytics | Development | Design - eschie.info</title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="app/assets/dist/css/min/main.min.css">
</head>
<body>

{{> menu}}

<div class="content-container">
    {{{body}}}
</div>

<div id='icon-container' style='display:none;'></div>
<script src='app/assets/dist/js/icons.js'></script>
<script src='app/assets/dist/js/min/lib.min.js'></script>
<script src='app/assets/dist/js/min/app.min.js'></script>

<script>
    $(function() {
        layout.init();
    });
</script>

</body>
</html>