<html>
<head>
<title>Test Index</title>
{{#each assets.main.css}}
    <link rel="stylesheet" href="{{this}}">
{{/each}}

{{#each assets.main.js}}
    <script type="text/javascript" src="{{this}}"></script>
{{/each}}
</head>
<body>

{{> menu}}

<div class="content-container">
    {{{body}}}
</div>

<div id='icon-container' style='display:none;'></div>
<script src='app/assets/dist/js/icons.js'></script>

<script src="app/assets/src/js/app.js"></script>
<script src="app/assets/src/js/layout.js"></script>
<script>
    $(function() {
        layout.init();
    });
</script>

</body>
</html>