<div class="content-container">
<form action="" id="addTask">
    <input type="text" placeholder="Your new task" id="">
    <input type="submit" value="Add Task" id="">
</form>
<div class="task-container">
    <script id="taskTemplate" type="text/template">
        <span><%= title %></span> <button class="edit">Edit</button> <button class="delete">Delete</button>
    </script>
</div>
</div>