{{!-- <form action="" id="addTask">
    <input type="text" placeholder="Your new task" id="">
    <input type="submit" value="Add Task" id="">
</form>
<div class="task-container">
    <script id="taskTemplate" type="text/template">
        <span><%= title %></span> <button class="edit">Edit</button> <button class="delete">Delete</button>
    </script>
</div> --}}

<div class="box-container">
    <section id="box-work" class="box-panel">
        <div class="box-panel-overlay">
            <div class="pagelink" href="#">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Work'/>
                </svg>
                <p>WORK</p>
            </div>
        </div>
        <div class="box-panel-content">
            {{> sections/work}}
        </div>
        <span class="box-panel-close">X</span>
    </section>
    <section id="box-portfolio" class="box-panel">
        <div class="box-panel-overlay">
            <div class="pagelink" href="#">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Portfolio'/>
                </svg>
                <p>PORTFOLIO</p>
            </div>
        </div>
        <div class="box-panel-content">
            {{> sections/portfolio}}
        </div>
        <span class="box-panel-close">X</span>
    </section>
    <section id="box-projects" class="box-panel">
        <div class="box-panel-overlay">
            <div class="pagelink" href="#">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Projects'/>
                </svg>
                <p>PROJECTS</p>
            </div>
        </div>
        <div class="box-panel-content">
            {{> sections/projects}}
        </div>
        <span class="box-panel-close">X</span>
    </section>
    <section id="box-contact" class="box-panel">
        <div class="box-panel-overlay">
            <div class="pagelink" href="#">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Contact'/>
                </svg>
                <p>CONTACT</p>
            </div>
        </div>
        <div class="box-panel-content">
            {{> sections/contact}}
        </div>
        <span class="box-panel-close">X</span>
    </section>
</div>