<div class="sidebar">
    <div class="key">
        <p>ESCHIE.INFO</p>
    </div>
    <div class="port">
        <div class="circle">
            <div class="avatar">
                <img class="thumbnail-round" src="app/assets/dist/img/gravatar.png" alt="">
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="btn">
            <svg class='icon'>
              <use xlink:href='#icon-Icon-Work'/>
            </svg>
            <p>WORK</p>
        </div>
        <div class="btn">
            <svg class='icon'>
              <use xlink:href='#icon-Icon-Portfolio'/>
            </svg>
            <p>PORTFOLIO</p>
        </div>
        <div class="btn">
            <svg class='icon'>
              <use xlink:href='#icon-Icon-Projects'/>
            </svg>
            <p>PROJECTS</p>
        </div>
        <div class="btn">
            <svg class='icon'>
              <use xlink:href='#icon-Icon-Contact'/>
            </svg>
            <p>CONTACT</p>
        </div>
    </div>
    <div class="social">
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Mail'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Behance'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Github'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-LinkedIn'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Twitter'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Facebook'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Instagram'/>
                </svg>
            </a>
        </div>
        <div class="btn">
            <a href="">
                <svg class='icon'>
                  <use xlink:href='#icon-Icon-Skype'/>
                </svg>
            </a>
        </div>
    </div>
</div>