html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

body {
  background-color: #cbc7e8;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiM4YmU1ZWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2U5YmFmOSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNjciLz48c3RvcCBzdG9wLWNvbG9yPSIjZjFiMGIwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: repeating-radial-gradient(ellipse farthest-corner at left top, #8be5eb 0, #e9baf9 67%, #f1b0b0 100%);
  font-family: "PT Sans", "Arial";
  font-size: 1em;
  color: white;
}

.menu {
  width: 320px;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: width 1000ms ease-in-out;
  -moz-transition: width 1000ms ease-in-out;
  -o-transition: width 1000ms ease-in-out;
  transition: width 1000ms ease-in-out;
}
.menu .key {
  display: block;
  width: 100%;
  height: 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
}
.menu .key p {
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  display: block;
  letter-spacing: 1px;
}
.menu .port {
  position: relative;
  width: 100%;
  height: 340px;
  -webkit-transition: height 1000ms ease-in-out;
  -moz-transition: height 1000ms ease-in-out;
  -o-transition: height 1000ms ease-in-out;
  transition: height 1000ms ease-in-out;
}
.menu .port .me {
  position: absolute;
  top: 70%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.menu .port .me .where {
  padding-top: 10px;
  text-align: center;
}
.menu .port .me .where .icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.menu .port .me .where span {
  font-size: .75em;
  line-height: 1em;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}
.menu .port .me p {
  padding: 7px 0;
  text-align: center;
  font-size: .75em;
  line-height: 1em;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}
.menu .port .me p.job {
  font-weight: bold;
  color: #FDBCBC;
}
.menu .circle {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 180px;
  width: 180px;
  margin: 0 auto;
  -webkit-transition: width 1000ms ease-in-out, height 1000ms ease-in-out, top 1000ms ease-in-out;
  -moz-transition: width 1000ms ease-in-out, height 1000ms ease-in-out, top 1000ms ease-in-out;
  -o-transition: width 1000ms ease-in-out, height 1000ms ease-in-out, top 1000ms ease-in-out;
  transition: width 1000ms ease-in-out, height 1000ms ease-in-out, top 1000ms ease-in-out;
}
.menu .circle:before, .menu .circle:after {
  content: "";
  position: absolute;
}
.menu .circle:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -o-linear-gradient(-44deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
  background-image: -moz-linear-gradient(-44deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
  background-image: -ms-linear-gradient(-44deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
  background-image: linear-gradient(-134deg, #FFFFFF 0%, #FFFFFF 0%, #E8E8E8 0%, #ECECEC 29%, #BABABA 77%, #737373 100%);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 100;
  border-radius: 100;
  z-index: 1;
}
.menu .circle:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.menu .circle .avatar {
  position: relative;
  z-index: 2;
  width: inherit;
  height: inherit;
}
.menu .circle .avatar .thumbnail-round {
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  max-width: 94%;
  position: absolute;
  -webkit-border-radius: 100;
  border-radius: 100;
}
.menu .nav {
  display: none;
}
.menu .social {
  display: block;
  width: 80%;
  height: 120px;
  margin: 0 auto;
}
.menu .social .btn {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px 7px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50;
  -webkit-transition: background-color 150ms ease-out;
  -moz-transition: background-color 150ms ease-out;
  -o-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out;
}
.menu .social .btn:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}
.menu .social .btn:hover .icon {
  height: 44%;
}
.menu .social .btn:active {
  background-color: white;
}
.menu .social .btn .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  -webkit-transition: height 100ms ease-out;
  -moz-transition: height 100ms ease-out;
  -o-transition: height 100ms ease-out;
  transition: height 100ms ease-out;
}
.menu .social .btn a.soclink {
  display: block;
  width: 100%;
  height: 100%;
}
.menu .bio {
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.menu .bio p {
  font-size: .9em;
  line-height: 1.25em;
  letter-spacing: 1px;
}
.menu.menu-contract {
  width: 110px;
  height: 100%;
}
.menu.menu-contract .port {
  position: relative;
  height: 80px;
}
.menu.menu-contract .port .me {
  display: none;
}
.menu.menu-contract .circle {
  top: 50%;
  height: 50px;
  width: 50px;
}
.menu.menu-contract .nav {
  display: block;
}
.menu.menu-contract .nav .btn {
  position: relative;
  width: 100%;
  height: 8%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  color: rgba(255, 255, 255, 0.6);
}
.menu.menu-contract .nav .btn:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: white;
}
.menu.menu-contract .nav .btn .icon {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
}
.menu.menu-contract .nav .btn .icon use {
  stroke: white;
  fill: white;
}
.menu.menu-contract .nav .btn a.navlink {
  display: block;
  width: 100%;
  height: 100%;
}
.menu.menu-contract .nav .btn a.navlink p {
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10%;
  letter-spacing: 3.75px;
}
.menu.menu-contract .social {
  height: auto;
}
.menu.menu-contract .social .btn {
  position: relative;
  width: 100%;
  height: 6.6%;
  background-color: transparent;
  margin: 0;
}
.menu.menu-contract .social .btn:hover .icon {
  height: 44%;
}
.menu.menu-contract .social .btn .icon {
  width: 33%;
  height: 33%;
}
.menu.menu-contract .bio {
  display: none;
}

.iconfill {
  fill: white;
  fill: rgba(255, 255, 255, 0.6);
}
.iconfill:hover {
  fill: white;
}

.iconstroke {
  stroke: white;
  stroke: rgba(255, 255, 255, 0.6);
}

.content-container {
  margin-left: 320px;
  width: auto;
  height: 100%;
  position: relative;
  overflow: auto;
  -webkit-transition: margin-left 1000ms ease-in-out;
  -moz-transition: margin-left 1000ms ease-in-out;
  -o-transition: margin-left 1000ms ease-in-out;
  transition: margin-left 1000ms ease-in-out;
}
.content-container.content-container-contract {
  margin-left: 110px;
}

.box-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-container.panel-expanded > section:not(.box-panel-expand) {
  opacity: 0;
}
.box-container > section:first-child {
  top: 0;
  left: 0;
}
.box-container > section:nth-child(2) {
  top: 0;
  left: 50%;
}
.box-container > section:nth-child(3) {
  top: 50%;
  left: 0;
}
.box-container > section:nth-child(4) {
  top: 50%;
  left: 50%;
}
.box-container section {
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  opacity: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  -o-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}
.box-container section.box-panel-expand-top {
  z-index: 100;
}
.box-container section .box-panel-overlay {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  opacity: 1;
  -webkit-transition: background-color 300ms ease-out, opacity 1200ms ease-in;
  -moz-transition: background-color 300ms ease-out, opacity 1200ms ease-in;
  -o-transition: background-color 300ms ease-out, opacity 1200ms ease-in;
  transition: background-color 300ms ease-out, opacity 1200ms ease-in;
}
.box-container section .box-panel-overlay:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: white;
}
.box-container section .box-panel-overlay:hover .pagelink p {
  opacity: 1;
}
.box-container section .box-panel-overlay:hover .icon {
  height: 45%;
}
.box-container section .box-panel-overlay .icon {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35%;
  height: 35%;
  -webkit-transition: height 300ms ease-in-out;
  -moz-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.box-container section .box-panel-overlay .icon use {
  stroke: white;
  stroke: rgba(255, 255, 255, 0.6);
  fill: white;
  fill: rgba(255, 255, 255, 0.6);
}
.box-container section .box-panel-overlay div.pagelink {
  display: block;
  width: 100%;
  height: 100%;
}
.box-container section .box-panel-overlay div.pagelink p {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 150%;
  letter-spacing: .75em;
  font-weight: bold;
  color: white;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.box-container section .box-panel-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 20px;
  right: 30px;
  bottom: 20px;
  overflow: hidden;
  overflow-y: auto;
}
.box-container section .box-panel-content, .box-container section .box-panel-close {
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  -o-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}
.box-container section span.box-panel-close {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
.box-container section.box-panel-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 20px solid black;
  border-top: 20px solid rgba(0, 0, 0, 0.3);
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
}
.box-container section.box-panel-expand .box-panel-overlay {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-out;
  -moz-transition: opacity 1000ms ease-out;
  -o-transition: opacity 1000ms ease-out;
  transition: opacity 1000ms ease-out;
}
.box-container section.box-panel-expand .box-panel-content, .box-container section.box-panel-expand .box-panel-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  -o-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}

.work-container {
  position: absolute;
  left: 100px;
  width: 65%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.work-container:after {
  position: absolute;
  top: 0;
  content: " ";
  width: 3px;
  height: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: multiply;
  margin-left: -60px;
}
.work-container h2 {
  font-size: 2.25em;
  letter-spacing: 7.5px;
  line-height: 50px;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
.work-container h2:before {
  content: " ";
  position: absolute;
  margin-left: -83px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffbebe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.work-container h3 {
  font-size: 1em;
  letter-spacing: 7.5px;
  line-height: 46px;
}
.work-container h3:before {
  content: " ";
  position: absolute;
  margin-left: -66px;
  margin-top: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffbebe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.work-container .work-content {
  height: 100px;
  padding: 20px 0;
}
.work-container .education-content {
  height: 60px;
  padding: 20px 0;
}
.work-container .duration {
  font-size: .75em;
  font-weight: bold;
  color: white;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1.5px;
  line-height: 1em;
  text-transform: uppercase;
}
.work-container .title {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 3.5px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.work-container .title .employer, .work-container .title .institution {
  font-size: .75em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #ffbebe;
}
.work-container .description {
  font-size: .9em;
  line-height: 1.25em;
  letter-spacing: 1px;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

/*# sourceMappingURL=main.css.map */
