<div class="portfolio-container box-panel-content-container">
    <h2>Projects</h2>
    <ul class="portfolio-list">
        <li class="portfolio-content-container">
            <div class="project-top-container">
                <div class="img-container">
                    <a class="coverlink" href="http://codepen.io/eschie/pen/kLopE" target="_blank"></a>
                    <img class="cover" src="app/assets/dist/img/calavera.png" alt="">
                </div>            
                <a href="http://codepen.io/eschie/pen/kLopE" target="_blank"><span class="name">SVG Animation</span></a>
            </div>
            <div class="project-bottom-container">
                <div class="description">
                    <p>Just a silly SVG animation in the spirit of Halloween</p>
                </div>
            </div>
        </li>
        <li class="portfolio-content-container">
            <div class="project-top-container">
                <div class="img-container">
                    <a class="coverlink" href="http://eschie.github.io/rapier" target="_blank"></a>
                    <img class="cover" src="app/assets/dist/img/rapier.png" alt="">
                </div>            
                <a href="http://eschie.github.io/rapier" target="_blank"><span class="name">rApier</span></a>
            </div>
            <div class="project-bottom-container">
                <div class="description">
                    <p>A Reddit API search I was given as a code test for About.com</p>
                </div>
            </div>
        </li>
    </ul>
</div>